<%if flash[:message_success] %>
    <div class="hide" id="message-notification" data-type="success" data-title="Success"><%= flash[:message_success] %></div>
<% end %>
<%if flash[:message_error] %>
    <div class="hide" id="message-notification" data-type="danger" data-title="Warning"><%= flash[:message_error] %></div>
<% end %>
<div class="container">
	<%= form_for(:session, url: signin_path, :html => {class: "form-signin"}) do |item| %>
		<%= render partial: "partials/message", locals: { account: @buyer } %>
		<h2 class="form-signin-heading">Login</h2>
		<%= item.label :email, class: "sr-only", for: "input-email" %>
		<%= item.email_field :email, class: "form-control", id: "input-email", placeholder: "Email address", required: true, autofocus: true %>
		<%= item.label :password, class: "sr-only", for: "input-password" %>
		<%= item.password_field :password, class: "form-control", id: "input-password", placeholder: "Password", required: true %>
		<div class="checkbox">
			<a href='<%= signup_path() %>' class="btn btn-block btn-social btn-facebook">
				<span class="fa fa-facebook"></span> Sign up a account
			</a>
		</div>
		<%= item.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
	<% end %>
</div> <!-- /container -->