<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">
		<title>Login</title>
		
		<%= stylesheet_link_tag    'bootstrap/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'bootstrap/css/ie10-viewport-bug-workaround.css', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'signup.css', media: 'all', 'data-turbolinks-track' => true %>
		
		<!-- jQuery -->
	    <%= javascript_include_tag 'client/js/jquery.js', 'data-turbolinks-track' => true %>
	    <!-- Bootstrap Core JavaScript -->
	    <%= javascript_include_tag 'bootstrap/js/bootstrap.min.js', 'data-turbolinks-track' => true %>
	    
		<%= javascript_include_tag 'bootstrap/js/ie-emulation-modes-warning.js', 'data-turbolinks-track' => true %>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<%= javascript_include_tag 'bootstrap/js/ie10-viewport-bug-workaround.js', 'data-turbolinks-track' => true %>

		<%= javascript_include_tag 'bootstrap-notify-3.1.3/dist/bootstrap-notify.min.js', 'data-turbolinks-track' => true %>
	</head>
	<body>
		<%if flash[:message_success] %>
	        <div class="hide" id="message-notification" data-type="success" data-title="Success"><%= flash[:message_success] %></div>
	    <% end %>
	    <%if flash[:message_error] %>
	        <div class="hide" id="message-notification" data-type="danger" data-title="Warning"><%= flash[:message_error] %></div>
	    <% end %>
		<div class="container">
			<%= form_for(:session, url: signin_path, :html => {class: "form-signin"}) do |item| %>
				<%= render partial: "partials/message", locals: { account: @buyer } %>
				<h2 class="form-signin-heading">Login</h2>
				<%= item.label :email, class: "sr-only", for: "input-email" %>
				<%= item.email_field :email, class: "form-control", id: "input-email", placeholder: "Email address", required: true, autofocus: true %>
				<%= item.label :password, class: "sr-only", for: "input-password" %>
				<%= item.password_field :password, class: "form-control", id: "input-password", placeholder: "Password", required: true %>
				<div class="checkbox">
					<!-- <a href='/auth/facebook' class="btn btn-block btn-social btn-facebook">
						<span class="fa fa-facebook"></span> Sign in with Facebook
					</a> -->
				</div>
				<%= item.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
			<% end %>
		</div> <!-- /container -->
	</body>
</html>